# Ignore Gradle project-specific cache directory
.gradle
.idea
.nextflow*

# Ignore Gradle build output directory
build
work

.tools/
.nxf/

.nf-test/

.nf-test.log

# Never commit Nextflow Registry credentials
gradle.properties
